{% extends 'FinanceManagementApp/base.html' %}

{% block content %}


<div class="container mt-2">
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="mb-0">Detailed Reports</h1>
                    <!-- <a href="{% url 'reports' %}" class="btn bt-secondary">View Detailed Reports</a> -->
            </div>
            <div class="row">
                <div class="col-md-6">

                    {{ graph_html_this_year_expense|safe }}

                </div>
                <div class="col-md-6">

                    {{ graph_html_this_year_income|safe }}

                </div>
            </div>

            {{ graph_html_project_wise|safe }}
        </div>
    </div>
</div>

{% endblock %}