{% extends 'AccountsManagementApp/base.html' %}

{% block content %}


<!-- Reports table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Project</th>
            <th>Income</th>
            <th>Expenses</th>
            <th>Profit</th>
        </tr>
    </thead>
    <tbody>
        {% load report_tags %}

        {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project|get_income }}</td>
            <td>{{ project|get_expenses }}</td>
            <td>{{ project|get_profit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}